autodocsumm
numpy
pandas
Pillow
scikit-image
scikit-learn
scipy
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tensorflow-gpu==2.11.0

